PORT=3000

# Google Sheets
GOOGLE_SHEETS_SPREADSHEET_ID=
GOOGLE_LOCATIONS_SPREADSHEET_ID=1kurP8R94qgafJU4TENPp1f658GP7dxZSzksC60MJoRg
GOOGLE_LOCATIONS_TAB=accounts
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=

# Email notifications
SMTP_HOST=
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
EMAIL_FROM=
EMAIL_TO=
